<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Ultimos datos capturados</h4>
						<p class="card-category">Tablero en vivo</p>
					</div>
					<div class="card-body table-responsive">
						<table class="table table-hover">
							<thead class="text-primay">
								<th>Dispositivo</th>
								<th>Latitud</th>
								<th>Longitud</th>
								<th>Fecha</th>
							</thead>
							<tbody>
								<tr
									*ngFor="
										let dato of datosTable;
										let i = index
									"
								>
									<td>{{ dato.categorie }}</td>
									<td>{{ dato.latitud }}</td>
									<td>{{ dato.longitud }}</td>
									<td>
										{{ datesTable[i] | timeAgo }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-info card-header-icon">
						<div class="card-icon">
							<i class="material-icons">device_thermostat</i>
						</div>
						<p class="card-category">Promedio Historico</p>
						<h3 class="card-title">
							{{ promedioArduino | number }}
						</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i>
							{{ sizeArduino }} datos recolectados
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div
						class="card-header card-header-warning card-header-icon"
					>
						<div class="card-icon">
							<i class="material-icons">air</i>
						</div>
						<p class="card-category">Promedio Historico</p>
						<h3 class="card-title">
							{{ 117.6 | number }}
						</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i>
							{{ sizeRasp }} datos recolectados
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div
						class="card-header card-header-success card-header-icon"
					>
						<div class="card-icon">
							<i class="material-icons">developer_board</i>
						</div>
						<p class="card-category">Promedio Historico</p>
						<h3 class="card-title">
							{{ promedioEsp | number }}
						</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i>
							{{ sizeEsp }} datos recolectados
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div
						class="card-header card-header-danger card-header-icon"
					>
						<div class="card-icon">
							<i class="material-icons">settings_remote</i>
						</div>
						<p class="card-category">Promedio Historico</p>
						<h3 class="card-title">
							{{ promedioBeagle | number }}
						</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i>
							{{ sizeBeagle }} datos recolectados
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<app-grafica-puntos
					[chartName]="'Lluvia'"
					[classColor]="'card-header card-header-info'"
					[lastUpdate]="lastDateArduino"
					[device]="'Arduino'"
					[series]="[valuesArduino]"
					[labels]="[]"
				></app-grafica-puntos>
				<app-grafica-barras
					[chartName]="'Temperatura'"
					[classColor]="'card-header card-header-success'"
					[lastUpdate]="lastDateRasp"
					[device]="'Rasp'"
					[series]="[valuesRasp]"
					[labels]="[]"
				></app-grafica-barras>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<app-grafica-puntos
					[chartName]="'Calor'"
					[classColor]="'card-header card-header-warning'"
					[lastUpdate]="lastDateBeagle"
					[device]="'Beagle'"
					[series]="[valuesBeagle]"
					[labels]="[]"
				></app-grafica-puntos>
				<app-grafica-barras
					[chartName]="'Frio'"
					[classColor]="'card-header card-header-danger'"
					[lastUpdate]="lastDateEsp"
					[device]="'Esp'"
					[series]="[valuesEsp]"
					[labels]="[]"
				></app-grafica-barras>
			</div>
		</div>
	</div>
</div>
