<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<app-grafica-puntos
					[chartName]="'Lluvia-Puntos'"
					[classColor]="'card-header card-header-info'"
					[lastUpdate]="lastDateArduino"
					[device]="'Arduino'"
					[series]="[valuesArduino]"
					[labels]="[]"
				></app-grafica-puntos>
				<app-grafica-barras
					[chartName]="'Lluvia-Barras'"
					[classColor]="'card-header card-header-info'"
					[lastUpdate]="lastDateArduino"
					[device]="'Arduino'"
					[series]="[valuesArduino]"
					[labels]="[]"
				></app-grafica-barras>
			</div>
		</div>
	</div>
</div>
