<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<app-grafica-puntos
					[chartName]="'Calor-Puntos'"
					[classColor]="'card-header card-header-warning'"
					[lastUpdate]="lastDateBeagle"
					[device]="'Beagle'"
					[series]="[valuesBeagle]"
					[labels]="[]"
				></app-grafica-puntos>
				<app-grafica-barras
					[chartName]="'Calor-Barras'"
					[classColor]="'card-header card-header-warning'"
					[lastUpdate]="lastDateBeagle"
					[device]="'Beagle'"
					[series]="[valuesBeagle]"
					[labels]="[]"
				></app-grafica-barras>
			</div>
		</div>
	</div>
</div>
